/**
 * Place your custom CSS styles here.
 **/

._iuz {
    background-image: url(https://s3.eu-central-1.amazonaws.com/kanyereacts/kayneIcons.png) !important;
}

._2p7a {
    background-image: url(https://s3.eu-central-1.amazonaws.com/kanyereacts/kanyeiconssmall.png) !important;
}

._2p79 {
    background-image: url(https://s3.eu-central-1.amazonaws.com/kanyereacts/kanyeiconssmall.png) !important;
}